<footer class="footer bg-warning py-4">
    <div class="container text-center">
        <p>&copy; 2024 МЕДЯТИНА. Все права защищены.</p>
        <p>Контакты: +7 (800) 555-35-35 | medyatina@gmail.com</p>
    </div>
</footer>